name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Test
        run: go test -v -coverprofile=coverage.out ./...

      - name: Report Coverage
        if: always()
        run: |
          echo "## Test Coverage Report" >> $GITHUB_STEP_SUMMARY

          go tool cover -func=coverage.out | awk '
            BEGIN {
              print "| File:Function | Coverage |"
              print "| :--- | :---: |"
            }
            $1 == "total:" {
              print "| **Total** | **" $3 "** |"
            }
            $1 != "total:" {
              print "| " $1 " " $2 " | " $3 " |"
            }
          ' >> $GITHUB_STEP_SUMMARY
